In [ ]:
trips.head()

,id,start_date,end_date,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,...,start_hour,end_hour,start_minute,end_minute,start_second,end_second,arrivals_departures,week,weekday,duration
0,A847FADBBC638E45,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,0,Lincoln Ave & Diversey Pkwy,179.0,41.8964,-87.6610,41.9322,...,17,18,45,12,14,03,426.0,2020-04-20/2020-04-26,Sunday,26.816667
1,5405B80E996FF60D,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,1,Kosciuszko Park,249.0,41.9244,-87.7154,41.9306,...,17,17,08,17,54,03,166.0,2020-04-13/2020-04-19,Friday,8.150000
2,5DD24A79A4E006F4,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,2,Indiana Ave & Roosevelt Rd,113.0,41.8945,-87.6179,41.8679,...,17,18,54,08,13,36,958.0,2020-03-30/2020-04-05,Wednesday,14.383333
3,2A59BBDF5CDBA725,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,3,Wood St & Augusta Blvd,69.0,41.9030,-87.6975,41.8992,...,12,13,50,02,19,31,424.0,2020-04-06/2020-04-12,Tuesday,12.200000
4,27AD306C119C6158,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,4,Sheridan Rd & Lawrence Ave,358.0,41.8902,-87.6262,41.9695,...,10,11,22,15,59,54,291.0,2020-04-13/2020-04-19,Saturday,52.916667